:root {
    --main-color: #19c8fa;
    --trans-color: rgb(15 116 174 / 65%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* start navbar */
.toys {
    color: #EEE;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;

}

.navbar .cointiner {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    background-color: unset;
    justify-content: space-between;
    align-items: center;
    background-color: #14213d;
}

.navbar i:hover {
    color: darkred;
    cursor: pointer;
    font-weight: bold;
}

.cointiner .menu {
    color: white;
    font-size: 22px;
    margin-left: 50px;
}

@media(min-width:770px) {
    .cointiner .menu {
        display: none;
    }

    .cointiner .fa-search {
        display: none;
    }
}

i {
    color: white;
}

.navbar a {
    color: #EEE;
    text-decoration: none;
    font-size: 20px;


}

.navbar a:hover {
    color: #EEE;
    font-weight: bold;
    border: 1px solid white;
}

.cointiner {
    width: 100%;

}

img {
    width: 200px;
    height: 70px;
}

li {
    list-style: none;
    display: inline-block;
    /*margin-left: 30px;*/
    padding-left: 50px;
}

@media (max-width:770px) {
    ul li {
        display: none;
    }

    ul+li:hover {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: rgb(0, 0, 0 / 50%);
        width: 100%;
    }

    input {
        display: none;
    }
}

/* end navbar */
/* start landing  */
.landing img {
    width: 100%;
    height: 50vh;
    animation-name: moiving;
    animation-duration: 1s;
}

.landing .cointiner {
    background-image: url("61sJqKjf4CL._SX3000_.jpg");
    width: 100%;
    height: 50vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: moiving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes moiving {
    0% {
        background-image: url("61sJqKjf4CL._SX3000_.jpg");
    }

    33% {
        background-image: url("61Aj6uPmD9L._SX3000_.jpg");
    }

    66% {
        background-image: url("615cERnNN6L._SX1500_.jpg");
    }

    100% {
        background-image: url("61sJqKjf4CL._SX3000_.jpg");
    }
}

@media (max-width:770px) {
    .landing .cointiner {
        background-image: url("61Aj6uPmD9L._SX3000_.jpg");
        background-size: 100%;
        height: 100%;
    }
}

/* end landing  */
/* start main  */


.card {
    display: flex;
    width: 250px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    height: 600px;
    background-color: #ffffff;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
}

.card-title {
    color: #000000
}

.card-text {
    color: #000000;
}

@media (max-width:770px) {
    .card {
        width: 100%;
        margin-left: 10px;
        height: 100%;
    }

}

.card a {
    color: #EEE;
    text-decoration: none;
}



/* end main  */
/* satrt footer  */
.footer .cointiner {
    background-color: #14213d;
    text-align: center;
    margin-top: 25px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fa-linkedin {
    margin-inline: 10px;
}

.fa-twitter {
    margin-inline: 10px;
}

i {
    color: white;
}

.footer span {
    color: white;
}

.footer p:first-child {
    color: white;
}

.footer p {
    color: white;
}

/* end footer  */